.cardHeading {
  display: flex;
  justify-content: space-around;
}
img {
  height: 15rem;
  border-radius: 5px 5px 0px 0px !important;
}
.imgWrap {
  overflow: hidden;
}
img:hover {
  transform: scale(1.2);
  transition: all 1s;
  cursor: pointer;
}
.card {
  border-radius: 10px !important;
}
.cardBody {
  overflow: hidden;
}
